{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": ["@antfu", "prettier"],
  "rules": {
    "no-console": 0,
    // Means warning
    "prettier/prettier": 2
    // Means error
  }
}
